sup {
    color: red;
}

.form-check-inline {
    margin-right: 0.5rem;
}

.form-label {
    font-size: 0.85rem;
}

.form-control-sm,
.form-select-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
}

.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
}

.row-cols-2>* {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}